.opacS {
  opacity: 0;
}
.opacE {
  opacity: 1;
  transition: opacity 0.5s;
}
.start {
 
  transform : scale(0)
  
}
.end {
  transform: scale(1);
  transition: all 0.5s; 
  /* transition : opacity가 변경될 때 0.5초에 걸쳐서 변경되도록 */
}

.main-bg {
  height: 300px;
  /* css에서 이미지 넣는법 아래와 같음 */
  /* background-image: url('./img/bg.png'); */
  background-size: cover;
  background-position: center;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
